	<h1>User management GET ROLE</h1>
	<form name="test" action="/check_user" method="post">
	  <p>User Email</p>
	  <input type="text" name="email" />
	  <input type="submit" value="Check User"/>
	  <p>User token</p>
	  <input type="text" name="token" />
	  <input type="submit" value="Check User"/>
	  <br>
	</form>	
