	<h1>User Login Management</h1>
	<form name="test" action="/login" method="post">
	  UserName
	  <input type="text" name="username" /><br>
	  User Password
	  <input type="text" name="password" />
          <br>
	  <input type="submit" value="Login"/>
	  <br>
	</form>	
	<form name="test" action="/get_role" method="post">
	<br>
	  Check user role (token)
	  <input type="text" name="token" />
	  <input type="submit" value="Check User Role"/>
	 <br>
         </form>	
	<br>

	<form name="test" action="/get_role_endpoint" method="post">
	<br>
	  Check user endpoints (token)
	  <input type="text" name="token" />
	  <input type="submit" value="Check User Role Endpoints"/>
	 <br>
         </form>	
	<br>

	<a href='http://localhost:4567/get_all'>Get all Users info</a><br>	

          <br>
          <a href='http://localhost:4567/users_management'>New User Registering</a><br>
	  <br>
	  <br>
	<a href='http://localhost:4567/get_all_roles'>Get all Roles info</a><br>	
	  <br>
	  <br>
	  <br>
