	<h1>Register User</h1>
	<form name="test" action="/users" method="post">
	  <p></p>
		UserName<input type="text" name="username" /><br>
	  Name<input type="text" name="name" /><br>
	  User Password<input type="text" name="password" /><br>
	  Email<input type="text" name="email" /><br>
 	  User role<select name="role">
		  <option value="admin">admin</option>
		  <option value="developer">developer</option>
		  <option value="customer">customer</option>

	</select>	
	<br>
	<br>
	  <input type="submit" value="Register"/>
	  <br>
	</form>	
        <br>
        <a href='/logout'>Logout</a>
